<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ _('corpus_title') }}</title>


    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type='text/javascript' src='static/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>
<script type='text/javascript' src='static/js/result_parser.js'></script>
<script type='text/javascript' src='static/js/json_loaders.js'></script>
<script type='text/javascript' src='static/js/query_share_load.js'></script>

    <!-- Custom styles for this template -->
    <link href="static/css/resume.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.png">

  </head>

  <body id="page-top">

    <p style="padding-left:2.7rem" id="about">

    </p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ _('corpus_title') }}</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/flag.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">{{ _('Главная') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="./search">{{ _('Поиск') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#thanks">{{ _('Благодарности') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#reference">{{ _('Ссылки') }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column">
        <div class="my-auto">
          <h2 class="mb-0">{{ _('Корпус') }}<br>
            <span class="text-primary" style="color: #0b6cbf !important">{{ _('даргинского литературного языка') }}</span>
            <br>
          </h2>
            <br>
            <br>
            <p class="lead">{{ _('В настоящее время доступна бета-версия корпуса даргинского литературного языка. Большая часть текстов в текущей версии корпуса взята из открытого архива республиканской общественно-политической газеты «Замана» (2010—2023); имеется также подкорпус, содержащий произведения художественной литературы (произведения известного даргинского писателя Ахмедхана Абу-Бакара), а также сказки.') }}</p>
            <p class="lead">{{ _('Над корпусом работали: Е. О. Сокур, С. Ю. Толдова, Н. Р. Сумбатова, на ранней стадии также А. С. Токмаков, в обсуждении и тестировании участвовали также Н. Вагизиева, И. Калякин и Г. Сулайбанов. В подготовке текстов для корпуса участвовала П. А. Казимова.') }}</p>
            <p class="lead">{{ _('Корпус создается на платформе Tsakorpus (Архангельский 2012; 2021). Тексты в корпусе представлены в даргинской орфографической записи. Тексты отглоссированы и снабжены пословным переводом из даргинско-русского словаря (Юсупов 2017).') }}</p>
            <p class="lead">{{ _('Со страницы корпуса доступен также маленький подкорпус со снятой морфологической омонимией (для этого в поле “Язык/слой” нужно выбрать «снятая омонимия»). Снятие омонимии производилось вручную Н. Вагизиевой.') }}</p>
            <p class="lead">{{ _('Работа над корпусом продолжается в нескольких направлениях. Во-первых, предполагается исправление ошибок распознавания текста, пополнение массива текстов, во-вторых, продолжается усовершенствование глоссирования.') }}</p>
            <br>
            <a class="btn btn-primary btn-xl js-scroll-trigger btn-main" href="./search" style="background-color: #0b6cbf !important">{{ _('К поиску') }}</a>
          <br>
          <br>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="thanks">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Благодарности') }}</h3>
            <p class="lead">{{ _('Корпус литературного даргинского языка подготовлен при поддержке Российского научного фонда, грант РНФ №22-28-01648 «Вариативность в дискурсе и словаре».') }}<br>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="reference">
        <div class="my-auto">
          <h3 class="mb-3">{{ _('Ссылки') }}</h3>
            <p class="lead"><a href="https://www.dargwa.ru/corpora" target="_blank" style="color: #0b6cbf !important">https://www.dargwa.ru/corpora</a></p>
        </div>
      </section>

      <hr class="m-0">

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/resume.min.js"></script>

  </body>

</html>
